/*# Start Reset #*/

/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/*# Fin Reset #*/

/* General */
:root {
  --primary-gradient: hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%;
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --progress-size: 1.25em;
}

/* Global */
main {
  min-height: 100vh;
  background: var(--very-dark-blue);
  background: no-repeat url('./images/bg-mobile.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  color: var(--pale-blue);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  padding: 0 7vw;
}

article {
  background: var(--dark-blue);
  border-radius: 0.5em;
  width: -webkit-fill-available;
}

footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

/* First article */

article:first-child {
  padding: 2.75em;
  margin-bottom: 1em;
  border-top-right-radius: 6.5em;
  /* TODO: add negative margin-top because absolute position of last element */
}

article:first-child div {
  display: flex;
  margin-top: 2em;
}

article:first-child button {
  background-color: var(--very-dark-blue);
  border: none;
  height: 4.5em;
  width: 4.5em;
  border-radius: 0.75em;
}

article:first-child button:not(:last-child) {
  margin-right: 1.5em;
}

article:first-child button img {
  vertical-align: middle;
}

/* Last article */

article:last-child {
  position: relative;
  padding-bottom: 5em;
}

/* Bubble */

article:last-child #size-available {
  position: absolute;
  background: white;
  border-radius: 0.75em;
  color: var(--very-dark-blue);
  bottom: -43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-fit-content;
}

article:last-child #size-available p {
  margin: 1em 2em;
}

article:last-child #size-available #size {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: 3em;
}

article:last-child #size-available #unit-measure {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--grayish-blue);
}

/* Progress bar */

article:last-child #size-indicator p {
  margin-bottom: 1em;
}

article:last-child #size-indicator p #size-used {
  font-weight: var(--font-weight-bold);
}

article:last-child #size-indicator #progress-bar {
  width: 100%;
  height: var(--progress-size);
  border: 0.25em #14204a solid;
  border-radius: 1em;
  background-color: #14204a;
  position: relative;
  box-sizing: border-box;
}

article:last-child #size-indicator #progress {
  width: 81.5%;
  height: calc(var(--progress-size) - 6px);
  position: relative;
  border-radius: 1em;
  background: hsl(6, 100%, 80%);
  background: -moz-linear-gradient(146deg, var(--primary-gradient));
  background: -webkit-linear-gradient(146deg, var(--primary-gradient));
  background: linear-gradient(146deg, var(--primary-gradient));
}

article:last-child #size-indicator #indicator {
  position: absolute;
  border-radius: 1em;
  width: calc(var(--progress-size) - 9px);
  height: calc(var(--progress-size) - 9px);
  background: white;
  top: 1px;
  right: 1px;
}

article:last-child #size-indicator #progress-min-max {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
